/* work-sans-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/work-sans-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* work-sans-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/work-sans-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* work-sans-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/work-sans-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$ff-primary: 'Work Sans', sans-serif;
$clr-background: #181925;
$clr-text: #ccd3f2;
$clr-accent: #afdaef;

body {
	font-family: $ff-primary;
	background-color: $clr-background;
	color: #ccd3f2;
}
.page-wrapper {
	min-height: 100vh;
	padding: 1rem;
	display: grid;
	grid-template-areas: 'header' 'main' 'footer';
	grid-template-rows: min-content auto min-content;
	gap: 1rem;
}
.header {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	place-items: center;
	gap: 25px;
	&__logo {
		height: 50px;
	}
}

.main {
	display: grid;
	gap: 1rem;
	grid-template-rows: fit-content 1fr 1fr;
	&__form-section {
		display: grid;
		grid-auto-flow: column;
		justify-content: space-between;
		gap: 1rem;
		padding: 0 1rem;
		@media screen and (max-width: 600px) {
			grid-auto-flow: row;
			place-content: center;
		}
		form {
			display: grid;
			grid-auto-flow: column;
			place-content: center;
			place-items: center;
			gap: 0.5rem;
			input[type='text'] {
				background-color: hsla(231, 22%, 18%, 0.8);
				color: $clr-accent;
				opacity: 0.75;
				border: transparent !important;
				border-radius: 5px;
				padding: 0.25rem 0.5rem;
				height: min-content;
			}
			button {
				background-color: transparent;
				border: transparent !important;
				padding: 0;

				img {
					height: 35px;
				}
			}
			img:hover {
				transform: scale(1.1);
			}
		}
		.toggle-container {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.5rem;
			.switch {
				position: relative;
				display: inline-block;
				width: 50px;
				height: 25px;
				background-color: $clr-text;
				border-radius: 25px;
			}
			.switch::after {
				content: '';
				position: absolute;
				width: 23px;
				height: 23px;
				border-radius: 50%;
				background-color: $clr-background;
				top: 1px;
				left: 1px;
				transition: all 0.3s;
			}
			.checkbox:checked + .switch::after {
				left: 25px;
			}
			.checkbox:checked + .switch {
				background-color: $clr-accent;
			}
			.checkbox {
				display: none;
			}
		}
	}

	&__current-section {
		display: grid;
		grid-template-areas: 'header header' 'section-left section-right';
		grid-template-columns: repeat(2, 1fr);
		padding: 0 20%;
		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			grid-template-areas: 'header' 'details';
		}
		.bold {
			grid-area: header;
			font-size: 2rem;
			text-align: center;
		}
		p:not(.bold) {
			color: $clr-accent;
			display: grid;
			font-weight: bold;
			letter-spacing: 0.5px;
			margin: 0.5rem;
			@media screen and (max-width: 768px) {
				grid-auto-flow: column;
				width: 100%;
				justify-content: space-between;
				gap: 1rem;
			}
		}
		#localDateOutput {
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		span {
			color: $clr-text;
			font-weight: 400;
			@media screen and (max-width: 768px) {
				text-align: right;
			}
		}

		&__preview {
			display: grid;
			justify-items: start;
			align-items: center;
		}
		&__details {
			display: grid;
			text-align: right;
			justify-items: end;
			align-items: center;
			@media screen and (max-width: 768px) {
				justify-items: start;
				text-align: left;
			}
		}
	}
	&__forecast-section__daily {
		display: grid;
		grid-auto-flow: column;
		@media screen and (max-width: 768px) {
			grid-auto-flow: row;
		}
		p:not(.bold) {
			color: $clr-accent;
			font-weight: bold;
			letter-spacing: 0.5px;
			display: grid;
			place-items: center;
			margin: 0.5em;
		}
		span {
			color: $clr-text;
			font-weight: 400;
		}
	}
	.day-container {
		display: grid;
		place-content: center;
		background-color: hsla(231, 22%, 18%, 0.8);
		border-radius: 10px;
		margin: 1rem;
		place-items: center;
		.day-title {
			font-weight: bold;
			font-size: 1.125em;
		}

		.sub-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			place-items: center;
			@media screen and (max-width: 768px) {
				grid-auto-flow: column;
			}
		}
	}
}

.footer {
	display: grid;
	grid-auto-flow: column;
	place-content: center;
	place-items: center;
	gap: 12.5px;
	&__icon {
		height: 25px;
	}
	&__link {
		text-decoration: none;
		color: $clr-accent;
	}
	&__link:hover {
		text-decoration: underline;
		text-underline-offset: 0.25rem;
	}
}
